h1{
    margin-left: auto;
    text-align: center;
    margin-top: 5%;
    font-family: 'Comic Sans';
    font-size: 1in;
    color: #632c60;
  }

h2{
    margin-left: auto;
    text-align: left;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5in;
    color: #000000;
  }

p{
    margin-left: auto;
    text-align: left;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.25in;
    color: #000000;
  }